.time {
    background: #f7f7f9;

  scroll-content{
    padding-top: 97px;
  }

  &>* {
    background: $main-header-background;
  }

  .address-panel {
    &:after {
      content: "";
      position: absolute;
      bottom: -7px;
      left: 0;
      height: 9px;
      right: 0;
      margin: auto;
      background: url("../res/logo_line.png") right bottom no-repeat;
    }
  }

  .block {
    .content {
      background: #f7f7f9;
      margin: 0;
      padding: 7px 34px 10px 23px;
      position: relative;

      &>* {
        display: inline-block;
      }

      img {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
      }

      .plane {
        width: 17px;
        height: auto;
      }

      .arrow {
        right: 23px;
      }

      .text {
        color: $main-dark-color;
        font-size: 16px;
        font-weight: 600;
        width: 245px;
        margin: 0;
        padding-left: 17px + 21px; // 17 - width .plane

        .comment {
          color: #b2b2b2;
          font-size: 12px;
          font-weight: 400;
          line-height: 13px;
          display: block;
          padding-top: 4px;
        }
      }
    }

    .list{
      .label{

        .ion-datetime {
          float: right;
          color: #FF7431;
          border-bottom: none;
        }

        .price{
          //width: 50%;
          text-align: right;
          }
        }
      }
    }
   .select-wrapper {
  position: relative;

  div.panel {
      background: #E4E7EC;
      width: 102px;
      position: absolute;
      right: -26px;
      z-index: 2;

    span {
      display: block;
      text-align: center;
    }
    }
  }
  }



