<div class="feed-tab-page" (click)="hideOptionDetails()">

    <div class="header">
        <p class="title">В виде поездок</p>

         <input
                type="checkbox"
                id="unchecked"
                class="cbx hidden"
                [checked]="!address"
            />
        <label for="unchecked" class="lbl" (click)="toggleView()"></label>

    </div>

    <div class="content">
        <div class="sub-header">{{address ? header.address : header.trip}}</div>

        <div class="items addresses" *ngIf="address" >
            <div class="address-item block" *ngFor="let key of getAddressKeys(); let num=index" (click)="setAddress(key, $event)">
                <i class="more-btn" (click)="showOptions(num, $event)"></i>
              <div class="content">
                   <span class="options" *ngIf="num === optionDetails">
                        <span (click)="setLastAddress(key)">Повторить</span>
                        <span>Скрыть</span>
                        <span (click)="deleteAddress(key)">Удалить</span>
                    </span>
                <p class="title">{{key}}</p>
                <span class="address">{{addresses[key].shortAddress}}</span>
              </div>
            </div>
        </div>

        <div class="items trips" *ngIf="!address" >
            <div class="block" *ngFor="let item of trips; let num=index" (click)="setTrip(num, $event)">
                <div class="content">
                    <p class="panel panel-title" (click)="showOptions(num, $event)">
                        <span>{{item.bookingDate}}</span>
                        <i class="more-btn" (click)="showOptions(num, $event)"></i>
                    </p>
                    <p class="panel">
                         <span class="options" *ngIf="num === optionDetails">
                                <span (click)="setTrip(num, $event)">Повторить</span>
                                 <span>Скрыть</span>
                                 <span (click)="deleteTrip(num)">Удалить</span>
                        </span>
                        <span class="route"></span>
                        <span class="panel">{{item.source.shortAddress}}</span>
                        <span class="panel">{{item.destinations[0].shortAddress}}</span>
                    </p>
                    <p></p>
                    <p></p>
                </div>

            </div>
        </div>

    </div>
</div>
