.feed-tab-page {

  $height-top-panel: 56px;
  background-color: $main-header-background;

  scroll-content{
    padding-bottom: 60px;

  }

  .header {
    position: relative;
    height: 48.5px;
    line-height: 51px;
    padding: 0 20px;
    background: $header-dark;

    &:after {
      content: "";
      position: absolute;
      bottom: -7px;
      left: 0;
      height: 9px;
      right: 0;
      margin: auto;
      background: url("../res/logo_line.png") right bottom no-repeat;
    }

    p.title {
      color: #d2d4d9;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
      display: inline-block;
      width: 50%;
    }

    .lbl {
      position: relative;
      display: inline-block;
      height: 15px;
      width: 38px;
      background: #898989;
      border-radius: 100px;
      cursor: pointer;
      transition: all 0.3s ease;
      float: right;
      margin-top: 17px;
    }

    .lbl:after {
      position: absolute;
      left: -3px;
      top: -3.5px;
      display: block;
      width: 22px;
      height: 22px;
      border-radius: 100px;
      background: #fff;
      box-shadow: 0px 3px 3px rgba(0,0,0,0.05);
      content: '';
      transition: all 0.3s ease;
    }

    .lbl:active:after { transform: scale(1.15, 0.85); }

    .cbx:checked ~ label { background: #975133; }

    .cbx:checked ~ label:after {
      left: 20px;
      background: $main-bright-color;
    }

    .cbx:disabled ~ label {
      background: #d5d5d5;
      pointer-events: none;
    }

    .cbx:disabled ~ label:after { background: #bcbdbc; }

    .hidden { display: none; }
  }

  .content {

    > .sub-header {
      height: 41px;
      line-height: 43px;
      color: $main-bright-color;
      font-size: 14px;
      font-weight: 600;
      padding: 0 20px;
      background: #e4e7ec;
    }

    .items {
      position: absolute;
      bottom: 0;
      left:0;
      right: 0;
      margin: auto;
      background: #e4e7ec;
      top: 90px;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      padding-bottom: 60px;

      &.addresses {
        padding-left: 17%;
        background: #f7f7f9;


        > div {
          height: 54px;
          border-bottom: 1px solid #e6e9ee;
          padding-top: 11px;
          padding-left: 5px;
          width: 93%;

          ion-icon {
            display: inline-block;
            font-size: 19.2em;
            float: right;
            color: #b3b3b3;
            margin-top: 2px;
          }

          p.title {
            color: #575759;
            font-size: 16px;
            font-weight: 600;
          }

          span.address {
            color: #b2b2b2;
            font-size: 14px;
            font-weight: 400;
          }
        }
      }

      &.trips {

        .block {
          margin-bottom: 7px;
          background: #f7f7f9;
          padding-right: 19px;

          &:first-child {
          }

          .header {
            background-color: inherit;
            color: $main-bright-color;
          }
          .content {
            background-color: #f7f7f9;

            .panel {
              position: relative;
              color: #ABADB1;
              line-height: 48px;
              border-bottom: solid 1px $main-header-background;

              &.panel-title {
                font-weight: 100;

                &:before {
                  background-image: url("./../res/icon_star.svg");
                  stroke: $main-bright-color;
                  background-repeat: no-repeat;
                  background-position: center center;
                  background-size: 25px;
                  height: 48px;
                  width: 48px;
                  content: "";
                  position: absolute;
                }
                //&:after {
                //  background-image: url("./../res/more.png");
                //  background-repeat: no-repeat;
                //  background-position: center center;
                //  background-size: 20px;
                //  height: 48px;
                //  width: 48px;
                //  content: "";
                //  position: absolute;
                //  right: 0;
                //}

                ion-icon {
                  display: inline-block;
                  font-size: 2.2em;
                  float: right;
                  color: #b3b3b3;
                  margin-top: 6px;
                }

                span {
                  line-height: 48px;
                  padding-left: 48px;
                }
              }

              .route {
                background: url("../res/icon_from.svg") no-repeat;
                background-size: contain;
                vertical-align: middle;
                width: 16px;
                height: 22px;
                position: absolute;
                margin: 14px;

                &:before {
                  position: absolute;
                  border-right: 2px dashed #a8bea1;
                  display: block;
                  height: 25px;
                  bottom: -25px;
                  width: 1px;
                  left: 0;
                  right: 0;
                  margin: auto;
                  border-right: 2px dashed #a8bea1;
                  content: "";
                }

                &:after {
                  background: url("../res/icon_to.svg") no-repeat;
                  background-size: 18px;
                  vertical-align: middle;
                  width: 18px;
                  height: 18px;
                  content: "";
                  bottom: -45px;
                  position: absolute;
                }
              }
            }

            span.panel {
              display: block;
              margin: 0 15px 0 48px;
              color: $main-dark-color;
              &:last-child {
                border: none;
              }
            }
          }

        }
      }

    }
  }
}
