<div class="feed-tab-page">

    <div class="header">
        <p class="title">В виде поездок</p>

         <input
                type="checkbox"
                id="unchecked"
                class="cbx hidden"
                [checked]="!address"
            />
        <label for="unchecked" class="lbl" (click)="toggleView()"></label>

    </div>

    <div class="content">
        <div class="sub-header">{{address ? header.address : header.trip}}</div>

        <div class="items addresses" *ngIf="address" >
            <div class="address-item block" *ngFor="let key of getAddressKeys(); let num=index">
                <!--<i class="more-btn" (click)="showOptions(a+num, $event)"></i>-->
              <div class="content">
                   <span class="options" *ngIf="a + num === optionDetails">
                        <span>Изменить</span>
                        <span>Удалить</span>
                    </span>
                    <ion-icon md="md-more" (click)="showOptions(a+num, $event)"></ion-icon>
                <p class="title">{{addresses[key].description}}</p>
                <span class="address">{{addresses[key].shortAddress}}</span>
              </div>
            </div>
        </div>

        <div class="items trips" *ngIf="!address" >
            <div class="block" *ngFor="let item of trips; let num=index">
                <div class="content">
                    <p class="panel panel-title">
                        <span>{{item.bookingDate}}</span>
                        <i class="more-btn" (click)="showOptions(o+num, $event)"></i>
                    </p>
                    <p class="panel">
                         <span class="options" *ngIf="o + num === optionDetails">
                            <span>Изменить</span>
                            <span>Удалить</span>
                        </span>
                        <span class="route"></span>
                        <span class="panel">{{item.source.shortAddress}}</span>
                        <span class="panel">{{item.destinations[0].shortAddress}}</span>
                    </p>
                    <p></p>
                    <p></p>
                </div>

            </div>
        </div>

    </div>
</div>
