.account {
  background: #e4e7ec;
  padding-bottom: 50px;

  scroll-content{
    padding-bottom: 60px;
  }


  .top-panel {
    background: #2e2e35;
    padding: 15px;
    position: relative;

    img {
      height: 65px;
      width: 65px;
    }
    p {
      color: $main-bright-color;
      font-size: 18px;
      font-weight: 600;
      line-height: 24px;
      text-transform: uppercase;
      top: 0;
      position: absolute;
      bottom: 0;
      margin: auto;
      vertical-align: middle;
      height: 40px;
      left: 65px + 15px + 24px; //65-img`s width; 15-.top-panels`s padding; 24-length between img and p

      .text {
        color: #a8bea1;
        font-size: 16px;
        font-weight: 400;
        display: block;
        text-transform: initial;
      }
    }
  }

  .edit {
    background-color: $main-bright-color;
    background-image: url('./../res/pen.png');
    width: 45px;
    height: 45px;
    background-size: 28px;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    right: 18px;
    top: 74px;
  }

  .content {
    background: #f7f7f9;
    padding: 0 36px 0 28px;

    hr {
      //margin-top: 40px;
    }

    label {
      line-height: 55px;
      color: $main-dark-color;
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
      width: 100%;
      padding-top: 8px;

      &:before {
        border: none;
        background-size: 22px;
        width: 20px;
        height: 20px;
      }

      &::after {
        background-image: url("./../res/arrow.png");
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 0;
        content: "";
        background-size: 10px;
        background-repeat: no-repeat;
        width: 9px;
        height: 13px;
      }

      &.time {
        &:before {
          background-image: url('./../res/clock.svg');
        }

        &:after {
          display: none;
        }

        div {
          background: $main-bright-color;
          color: #fff;
          width: 17px;
          height: 17px;
          border-radius: 5px;
          text-align: center;
          line-height: 20px;
          font-size: 12px;
          float: right;
          margin-top: (55px - 17px) / 2;
        }
        //&:after {
        //  background: $main-bright-color;
        //  color: #fff;
        //  content: "2";
        //  width: 17px;
        //  height: 17px;
        //  border-radius: 5px;
        //  text-align: center;
        //  line-height: 20px;
        //  font-size: 12px;
        //}
      }
      &.card:before {
          background-image: url('./../res/card.svg');
      }
      &.call:before {
          background-image: url('./../res/call_a.svg');
      }
      &.settings:before {
          background-image: url('./../res/settings.svg');
      }
      &.share:before {
          background-image: url('./../res/share.svg');
      }
      &.car:before {
          background-image: url('./../res/car.png');
          background-size: 19px;
      }
    }
  }

  .block {
    .header {
      font-size: 17px;
    }
  }
}
