<div class="tab-header" *ngIf="activeTabSet === 'main'">
  <div [ngClass]="setClasses('home')" (click)="changeTab('home')"><ion-icon md="ios-locate"></ion-icon></div>
  <div [ngClass]="setClasses('settings')" (click)="changeTab('settings')"><ion-icon md="ios-options"></ion-icon></div>
  <div [ngClass]="setClasses('time')" (click)="changeTab('time')"><ion-icon md="ios-clock"></ion-icon></div>
  <div [ngClass]="setClasses('account')" (click)="changeTab('account')"><ion-icon md="ios-person"></ion-icon></div>
</div>

<div class="tab-header" *ngIf="activeTabSet === 'search'">
  <div [ngClass]="setClasses('home')" (click)="changeTab('home')"><ion-icon md="ios-search"></ion-icon></div>
  <div [ngClass]="setClasses('time-tab')" (click)="changeTab('time-tab')"><ion-icon md="ios-timer"></ion-icon></div>
  <div [ngClass]="setClasses('feed-tab')" (click)="changeTab('feed-tab')"><ion-icon md="ios-star-outline"></ion-icon></div>
  <div [ngClass]="setClasses('fly-tab')" (click)="changeTab('fly-tab')"><ion-icon md="ios-plane"></ion-icon></div>
</div>

<div class="content">
  <home-page *ngIf="activeTab === 'home'"></home-page>

  <settings-page *ngIf="activeTab === 'settings'"></settings-page>
  <time-page *ngIf="activeTab === 'time'"></time-page>
  <account-page *ngIf="activeTab === 'account'"></account-page>

  <time-tab-page *ngIf="activeTab === 'time-tab'"></time-tab-page>
  <feed-tab-page *ngIf="activeTab === 'feed-tab'"></feed-tab-page>
  <fly-tab-page *ngIf="activeTab === 'fly-tab'"></fly-tab-page>

  <div class="search" *ngIf="!pathStatus">{{status[direction]}}</div>

  <div class="call" *ngIf="pathStatus" (click)="makeOrder()">
    <div class="price">
      <p class="text">{{cost}}<span class="currency">руб.</span></p>
    </div>
    <p class="title">Вызвать такси</p>
  </div>
</div>


