<div class="tab-header" *ngIf="activeTabSet === 'main'">
  <div [ngClass]="setClasses('home')" (click)="changeTab('home')"></div>
  <div [ngClass]="setClasses('settings')" (click)="changeTab('settings')"></div>
  <div [ngClass]="setClasses('time')" (click)="changeTab('time')"></div>
  <div [ngClass]="setClasses('account')" (click)="changeTab('account')"></div>
</div>

<div class="tab-header searchtab" *ngIf="activeTabSet === 'search'">
  <div [ngClass]="setClasses('home')" (click)="changeTab('home')"></div>
  <div [ngClass]="setClasses('time-tab')" (click)="changeTab('time-tab')"></div>
  <div [ngClass]="setClasses('feed-tab')" (click)="changeTab('feed-tab')"></div>
  <div [ngClass]="setClasses('fly-tab')" class="disabled"></div>
</div>

<div class="content">
  <home-page [hidden]="activeTab !== 'home'"></home-page>

  <settings-page *ngIf="activeTab === 'settings'"></settings-page>
  <time-page [hidden]="activeTab !== 'time'"></time-page>
  <account-page [hidden]="activeTab !== 'account'"></account-page>

  <time-tab-page [hidden]="activeTab !== 'time-tab'"></time-tab-page>
  <feed-tab-page [hidden]="activeTab !== 'feed-tab'"></feed-tab-page>
  <fly-tab-page [hidden]="activeTab !== 'fly-tab'"></fly-tab-page>

  <div class="search" *ngIf="!pathStatus">{{status[direction]}}</div>

  <div class="call" *ngIf="pathStatus" (click)="makeOrder()">
    <div class="price">
      <p class="text">{{cost}}<span class="currency">руб.</span></p>
    </div>
    <p class="title">Вызвать такси</p>
  </div>
</div>


