.main-page {
  div.search {
    color: #b2b2b2;
    background: rgba(0, 0, 0, 0.9);
    font-size: 19px;
    line-height: 24px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25px;
    z-index: 1;
    text-align: center;
  }

  div.call {
    left: 8px;
    right: 8px;
    bottom: -57px;
    margin: auto;
    font-weight: 600;
    text-transform: uppercase;
    height: 57px;
    line-height: 52px;
    border-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: left;
    font-size: 20px;
    overflow: hidden;
    background: url("../res/icon_arrow.png") no-repeat, url("../res/btn_price.png") no-repeat;
    background-position:right 10px center, center center;
    background-size: 30px 30px, 100% 100%;
    position: absolute;
    z-index: 2;
    transition: bottom 700ms linear;


    &.active {
      bottom: 0;
    }

    &.next {
      bottom: 0;
      background: url("../res/btn_price.png") no-repeat;
      background-position:center center;
      background-size: 100% 100%;
      text-align: center;

    }

    p.title {
      display: inline-block;
      color: #fbfbfb;
      text-align: right;
    }

    div.price {
      display: inline-block;
      padding-left: 45px;
      background: url("../res/icon_coins.png") 15px center no-repeat, url("../res/btn_price_layer.png") 1px center no-repeat;
      background-size: 23px 18px, 100% 100%;
      padding-right: 8px;

      p {
        &:after {
          content: "руб";
          vertical-align: super;
          font-size: 13px;
          margin-left: 3px;
        }
      }

      //span.currency {
      //  vertical-align: super;
      //  text-transform: capitalize;
      //  font-size: 13px;
      //  margin-left: 3px;
      //}
    }

  }



  .tab-header {
    height: 56px;
    background-color: #2C2C30;

    &.searchtab {

      .tab {
        width: 25%;
        float: left;
        height: 100%;
        background-color: #2c2c30;
        line-height: 72px;
        text-align: center;

        &.disabled{
          opacity: 0.2;
        }

        &:nth-child(1) {
          background: #2c2c30 url('../res/icon_search.png') center 18px no-repeat;
          background-size: 25px 25px;

          &.active {
            background: #2c2c30 url('../res/icon_search_a.png') center 18px no-repeat;
            background-size: 25px 25px;
          }
        }

        &:nth-child(2) {
          background: #2c2c30 url('../res/icon_histrory.png') center 18px no-repeat;
          background-size: 24px 24px;

          &.active {
            background: #2c2c30 url('../res/icon_histrory_a.png') center 18px no-repeat;
            background-size: 24px 24px;
          }
        }

        &:nth-child(3) {
          background: #2c2c30 url('../res/icon_favorite.png') center center no-repeat;
          background-size: 25px 25px;

          &.active {
            background: #2c2c30 url('../res/icon_favorite_a.png') center center no-repeat;
            background-size: 25px 25px;
          }
        }

        &:nth-child(4) {
          opacity: 0.2;
          background: #2c2c30 url('../res/icon_fly.png') center center no-repeat;
          background-size: 25px 25px;

          &.active {
            background: #2c2c30 url('../res/icon_fly_a.png') center center no-repeat;
            background-size: 25px 25px;
          }
        }
      }
    }

    &.ordertab {
       .tab {
        width: 25%;
        float: left;
        height: 100%;
        background-color: #2c2c30;
        line-height: 72px;
        text-align: center;

        &.disabled{
          opacity: 0.2;
        }

         &:nth-child(1) {
          background: #2c2c30 url('../res/icon_locate.png') center 18px no-repeat;
          background-size: 25px 25px;

          &.active {
            background: #2c2c30 url('../res/icon_locate_a.png') center 18px no-repeat;
            background-size: 25px 25px;
          }
        }

        &:nth-child(2) {
          background: #2c2c30 url('../res/icon_taxi.svg') center 18px no-repeat;
          background-size: 24px 24px;

          &.active {
            background: #2c2c30 url('../res/icon_taxi_a.svg') center 18px no-repeat;
            background-size: 24px 24px;
          }
        }

        &:nth-child(3) {
          background: #2c2c30 url('../res/icon_user_comments.svg') center center no-repeat;
          background-size: 25px 25px;

          &.active {
            background: #2c2c30 url('../res/icon_user_comments_a.svg') center center no-repeat;
            background-size: 25px 25px;
          }
        }

        &:nth-child(4) {
          background: #2c2c30 url('../res/icon_money.svg') center center no-repeat;
          background-size: 25px 25px;

          &.active {
            background: #2c2c30 url('../res/icon_money_a.svg') center center no-repeat;
            background-size: 25px 25px;
          }
        }
      }
    }

    .tab {
      width: 25%;
      float: left;
      height: 100%;
      background-color: #2c2c30;
      line-height: 72px;
      text-align: center;
      &.disabled{
        opacity: 0.2;
      }

      &.active {
        opacity: 1!important;
      }

      &:nth-child(1) {
        background: #2c2c30 url('../res/icon_locate.png') center 18px no-repeat;
        background-size: 25px 25px;

        &.active {
          background: #2c2c30 url('../res/icon_locate_a.png') center 18px no-repeat;
          background-size: 25px 25px;
        }
      }

      &:nth-child(2) {
        background: #2c2c30 url('../res/icon_settings.png') center 18px no-repeat;
        background-size: 24px 24px;

        &.active {
          background: #2c2c30 url('../res/icon_settings_a.png') center 18px no-repeat;
          background-size: 24px 24px;
        }
      }

      &:nth-child(3) {
        background: #2c2c30 url('../res/icon_time.png') center 18px no-repeat;
        background-size: 24px 24px;

        &.active {
          background: #2c2c30 url('../res/icon_time_a.png') center 18px no-repeat;
          background-size: 24px 24px;
        }
      }

      &:nth-child(4) {
        background: #2c2c30 url('../res/icon_account.png') center 17px no-repeat;
        background-size: 25px 25px;

        &.active {
          background: #2c2c30 url('../res/icon_account_a.png') center 17px no-repeat;
          background-size: 25px 25px;
        }
      }
    }
  }

  > .content {
    position: absolute;
    bottom: 0;
    top: 56px;
    left: 0;
    right: 0;
  }
}
