.like-modal {
  background: rgba(0, 0, 0, 0.5);

  .content {
    width: 90%;
    height: 375px;
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    padding: 10px 30px;
    -webkit-box-shadow: 3px 3px 19px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 19px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 19px 0px rgba(0,0,0,0.75);

    h4 {
      color: $main-bright-color;
      font-weight: 800;
      font-size: 22px;
    }

    button {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0;
      border-radius: 0;
      background: $main-bright-color;

      &.close {
        background: #afaeae;
      }
    }

    input {
      border-bottom: solid 1px $main-header-background;
      width: 100%;
      color: $main-dark-color;
      font-size: 18px;
      font-weight: 300;
      padding: 7px 0;
      background: transparent;
      margin: 30px 0 50px 0;
    }

    span.star-label {
      font-weight: 800;
      font-size: 15px;
      line-height: 50px;
    }

    .stars{
      text-align: center;
      &>* {
        height: 37px;
        width: 37px;
        margin: 0 5px 0 0;
      }

      &:last-child {
        margin: 0;
      }
    }
  }
}
