// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "./partial";

@import "../pages/search-tab/search-tab";
@import "../pages/search/search";
@import "../pages/feed-tab/feed-tab";
@import "../pages/time-tab/time-tab";
@import "../pages/home/home";
@import "../pages/main/main";
@import "../pages/settings/settings";
@import "../pages/time/time";
@import "../pages/account/account";
@import "../pages/account/modal/rides";
@import "../pages/taxi/taxi";
@import "../pages/like/like";
@import "../pages/money/money";

@import "../components/registration/registration";
@import "../components/loader/loader";
@import "../components/driver_panel/driver_panel";

@font-face {
  font-family: "Myriad Pro";
  src: url(../res/fonts/MyriadProRegular.ttf); /* Путь к файлу со шрифтом */
}

* {
  font-family: "Myriad Pro";
  margin: 0;
  border: 0;
  box-sizing: border-box;
  padding: 0;
  //font-family: 'Open Sans Condensed', sans-serif;
}

*:not(input) {
  user-select: none;
  cursor: default;

}

html {
  font-size: 14px;
}

body {
  position:absolute;
  overflow: auto;
  width:100%;
  height:100%;
}

input {
  font-style: normal!important;
}

.tab-button-icon {
  font-size: 22px;
}

.show-tabbar {
  background: #2c2c30;
  height: 56px;
  .animate {
    display: none;
  }
}


map {
  position: absolute;
  bottom: 0;
  top: 97px;
  left: 0;
  right: 0;

  .leaflet-control-attribution.leaflet-control {
    display: none;
  }
}

div.error-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: #323238;
  right: 0;
  margin: auto;
  color: #fff;
  width: 220px;
  height: 90px;
  z-index: 22;
  font-size: 27px;
  display: inline-block;
  padding: 10px;
  text-align: center;

  span {
    font-size: 30px;
    display: block !important;
    color: #ff7431;
    margin-top: 4px;
  }
}


#map-wrap {
  width: 100%;
  height: 100%;

  //.loading{
  //  animation: loading 1s linear infinite;
  //}
  //
  //@keyframes loading {
  //  0% { transform: scale(1.2); }
  //  50% { transform: scale(1); }
  //  100% { transform: scale(1.2); }
  //}

  .btn {
    width: 55px;
    height: 55px;
    position: fixed;
    right: 5px;
    z-index: 50;

    &.locate {
      background: url('../res/btn_locate.png') no-repeat;
      background-size: 100% 100%;
      bottom: 150px;
    }

    &.center {
      background: url('../res/btn_calcpath.png') no-repeat;
      background-size: 100% 100%;
      bottom: 85px;

    }
  }


  #mapHome, #searchMap {
    height: 100%;

    .nav-panel {
      bottom: 84px;
      position: absolute;
      right: 0;
      z-index: 1;


    }
  }

  #mapSearch{
    z-index: 100;
  }

  span.marker {

    &.hide {
      display: none;
    }

    &.from {
      background: url("../res/icon_path_active.png") no-repeat;
      width: 26px;
      height: 36px;
      background-size: 100% 100%;
    }

    &.from.searching {
      background: url("../res/icon_path_from_a.png") no-repeat;
      width: 26px;
      height: 36px;
      background-size: 100% 100%;
    }

    position: absolute;
    display: inline-block;
    z-index: 50;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 20px;
    height: 20px;
    background: url("../res/point.png") no-repeat;
    background-size: 100% 100%;
  }

}

.platform-android {
  &.platform-android6 {
    div.call {
      line-height: 62px!important;
    }
  }
}

.picker-wrapper {
  .picker-toolbar {
    .button-inner {
      font-size: 14px !important;
      padding: 5px;
    }
  }

  .picker-opts {
    min-width: 65px;
  }
}