// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "./partial";
@import "../pages/search-tab/search-tab";
@import "../pages/home/home";
@import "../pages/settings/settings";
@import "../pages/time/time";
@import "../pages/account/account";
@import "../pages/account/modal/rides";
@import "../components/registration/registration";

@font-face {
  font-family: "Myriad Pro";
  src: url(../res/fonts/MyriadPro-Regular.otf); /* Путь к файлу со шрифтом */
}

* {
  font-family: "Myriad Pro";
  margin: 0;
  border: 0;
  box-sizing: border-box;
  padding: 0;
  //font-family: 'Open Sans Condensed', sans-serif;
}

html {
  font-size: 1px;
}

.tab-button-icon {
  font-size: 22rem;
}

.show-tabbar {
  background: #2c2c30;
  height: 56rem;
  .animate {
    display: none;
  }
}

.platform-android {
  &.platform-android6 {
    div.call {
      line-height: 20rem!important;
    }
  }
}