// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/home/home";
@import "../pages/settings/settings";
@import "../pages/time/time";
@import "../pages/account/account";

* {
  font-family: 'Open Sans Condensed', sans-serif;
}

.show-tabbar {
  background: #2c2c30;
  height: 55px;
  .animate {
    display: none;
  }
}

.platform-android {
  &.platform-android6 {
    div.call {
      line-height: 20px!important;
    }
  }
}