.address-panel {
    height: 97px;
    background: #323238 url("../res/line_arrow.png") no-repeat;
    background-size: 80% auto;
    background-position: right 17px center;
    position: fixed;
    top: $tab-height;
    width: 100%;
    margin-bottom: calc(97px + $tab-height);

    div {
      padding-left: 9.6%;
      height: 50%;
      position: relative;
      color: #fff;

      &.from {

        &.active {
          color: #e57339;

          input::-webkit-input-placeholder {color:#e57339;}
          input::-moz-placeholder          {color:#e57339;}/* Firefox 19+ */
          input:-moz-placeholder           {color:#e57339;}/* Firefox 18- */
          input:-ms-input-placeholder      {color:#e57339;}
        }

        span {
          background: url('../res/icon_from.svg') no-repeat;
          background-size: contain;
          vertical-align: middle;
          width: 16px;
          height: 22px;
          position: relative;

          &:before {
            content: "";
            display: block;
            position: absolute;
            height: 23px;
            bottom: -26px;
            width: 1px;
            left: 0;
            right: 0;
            margin: auto;
            border-right: 2px dashed #a8bea1;
          }

        }

        input {
          //border-bottom:2px solid #454549;
        }
      }

      &.to {

        &.active {
          color: #e57339;

          input::-webkit-input-placeholder {color:#e57339;}
          input::-moz-placeholder          {color:#e57339;}/* Firefox 19+ */
          input:-moz-placeholder           {color:#e57339;}/* Firefox 18- */
          input:-ms-input-placeholder      {color:#e57339;}
        }

        span {
          background: url("../res/icon_to.svg") no-repeat;
          background-size: 100% 100%;
          vertical-align: middle;
          width: 10px;
          height: 10px;
        }
      }

      span {
        width: 16px;
        height: 16px;
        display: inline-block;
      }

      input {
        background: transparent;
        border: none;
        outline: none;
        font-size: 18px;
        height: 100%;
        margin-left: 10px;
        width: 87%;

        &::-webkit-input-placeholder {color:#fff;}
        &::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
        &:-moz-placeholder           {color:#fff;}/* Firefox 18- */
        &:-ms-input-placeholder      {color:#fff;}
      }
    }
  }