.has-header {
  margin-top: 97px;
}

.form-fields {
   input, select {
      border-bottom: solid 1px $main-header-background;
      width: 100%;
      color: $main-dark-color;
      font-size: 18px;
      font-weight: 600;
      padding: 7px 0;
      background: transparent;
    }

     //TODO remove when select would be fixed

    .select-wrapper {

      div.input {
        border-bottom: solid 1px #e4e7ec;
        width: 100%;
        color: #565659;
        font-size: 18px;
        font-weight: 600;
        padding: 7px 0;
        background: transparent;
        position: relative;

        &:after {
          content: "";
          position: absolute;
          width: 11px;
          height: 6px;
          display: inline-block;
          background-image: url("./../res/arrow_drop_down.png");
          background-size: 100%;
          bottom: 15px;
          right: 5px;
        }
      }

      .panel {
        position: absolute;
        z-index: 2;
        background: #fff;
        left: 0;
        right: 0;
        max-height: 100px;
        overflow: scroll;

         span.option {
          display: block;
          text-align: center;
          line-height: 28px;
          font-size: 14px;
        }
      }


      //select {
      //  appearance: none;
      //  -moz-appearance: none; /* Firefox */
      //  -webkit-appearance: none; /* Safari and Chrome */
      //}
    }
}

//address panel
.address-panel {
    height: 97px;
    background: #323238;
    position: fixed;
    top: $tab-height;
    width: 100%;
    margin-bottom: calc(97px + $tab-height);
    z-index: 2000;

  div.main {
    padding-left: 10%;
    height: 50%;
    position: relative;
    color: #fff;

    &.from {
      border-bottom: 1px solid #505054;

      &.active {
        color: #e57339;

        input::-webkit-input-placeholder {color:#e57339;}
        input::-moz-placeholder          {color:#e57339;}/* Firefox 19+ */
        input:-moz-placeholder           {color:#e57339;}/* Firefox 18- */
        input:-ms-input-placeholder      {color:#e57339;}
      }

      > span:not(.clear) {
        background: url("../res/icon_path_from.png") center center no-repeat;
        background-size: contain;
        vertical-align: middle;
        width: 16px;
        height: 100%;
        position: relative;



        &:before {
          content: "";
          display: block;
          position: absolute;
          height: 23px;
          bottom: -15px;
          width: 1px;
          left: 6px;
          margin: auto;
          border-right: 2px dashed #a8bea1;
        }

      }

      span.icon.active {
        background: url("../res/icon_path_from_a.png") center center no-repeat;
        background-size: contain;
      }

      input {
        //border-bottom:2px solid #454549;
      }
    }

    &.to {

      &.active {
        color: #e57339;

        input::-webkit-input-placeholder {color:#e57339;}
        input::-moz-placeholder          {color:#e57339;}/* Firefox 19+ */
        input:-moz-placeholder           {color:#e57339;}/* Firefox 18- */
        input:-ms-input-placeholder      {color:#e57339;}
      }

      > span {
        background: url("../res/icon_path_to.png") center center no-repeat;
        background-size: 10px 100%;
        vertical-align: middle;
        width: 16px;
        height: 10px;
      }

      .icon.active {
        background: url("../res/icon_path_to_a.png") center center no-repeat;
        background-size: 10px 100%;
      }
    }

    span:not(.clear) {
      //width: 16px;
      //height: 16px;
      display: inline-block;
    }

    > span.clear {
      display: inline-block;
      position: absolute;
      top:0;
      bottom: 0;
      right: 0;
      padding-right: 25px;
      width: 50px;
      height: 20px;
      margin: auto;
      background: #323238 url("../res/icon_clear.svg") no-repeat;
      background-size: 100% 100%;
    }

    input {
      background: transparent;
      border: none;
      outline: none;
      font-size: 20px;
      height: 100%;
      margin-left: 5%;
      width: 87%;
      -webkit-appearance: none;

      &:disabled {
        opacity: 1;
      }

     &.opacity {
       opacity: .2;
     }

      &::-webkit-input-placeholder {color:#fff;}
      &::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
      &:-moz-placeholder           {color:#fff;}/* Firefox 18- */
      &:-ms-input-placeholder      {color:#fff;}
    }
  }

  .searchView {
    position: fixed;
    width: 100%;
    background: #323238;
    top: 104.5px;
    overflow: auto;
    padding-left: 14.4%;
    bottom: 0;
    margin: auto;
    //max-height: 420px;

    &.to {
      top: 153px;
    }

    div.search-item {
      background: #323238;
      //height: 48.5px;
      font-size: 18px;
      padding-top: 10px;
      padding-bottom: 10px;
      //line-height: 16px;
      cursor: default;
      border-bottom: 1px solid #505054;
      width: 90%;

      span {
        color: #e4e6eb;

        &.orange {
          color: #e57339;
        }
      }

      p {
        font-size: 12px;
        color: #b2b2b2;
      }

    }

  }

  .addressDetail {
    position: absolute;
    width: 100%;
    background: #323238;
    top: 48.5px;
    overflow: auto;
    height: 160px;
    padding-top: 10px;
    padding-left: 9.3%;

    &.to {
      top: 97px;
    }

    div.top {
      background: url("./../res/icon_home.svg") no-repeat;
      background-size: 6%;
      background-position: left 2px;
      padding-left: 8.4%;
    }

    div.bottom {
      background: url("./../res/icon_comment.svg") no-repeat;
      background-size: 6%;
      background-position: left 5px;
      padding-left: 8.4%;
    }

    .group {
      position:relative;
      margin-bottom: 15px;
      border: none;
      display: inline-block;

      &.house {
        width: 50%
      }

      &.block {
        width: 29%
      }

      &.comment {
        width: 80%;
      }

      &.nav {
        width: 100%;
        margin-bottom: 0px;
      }
    }


    input               {
      font-size:18px;
      padding:10px 10px 6px 5px;
      display:block;
      width: 100%;
      border:none;
      background: #323238;
      border-bottom:1px solid #757575;

      color: #f7f7f9;
      font-weight: 400;
    }
    input:focus         { outline:none; }

    /* LABEL ======================================= */
    label                {
      color: #b2b2b2;
      font-size: 17px;
      font-weight: 400;
      position:absolute;
      pointer-events:none;
      left:5px;
      top:13px;
      transition:0.2s ease all;
      -moz-transition:0.2s ease all;
      -webkit-transition:0.2s ease all;
      padding-left: 0;

      &:before {
        display: none;
      }
    }

    /* active state */
    input:focus ~ label, input:valid ~ label        {
      top:-10px;
      font-size:14px;
      color:#b2b2b2;
    }

    .bar:before {
      left:50%;
    }
    .bar:after {
      right:50%;
    }

    /* active state */
    input:focus ~ .bar:before, input:focus ~ .bar:after {
      width:50%;
    }

    .btn {
      //width: 86px;
      color: #a8bea1;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
      height: 30px;
      display: inline-block;
      line-height: 30px;
      text-align: center;
      //margin-right: 10px;

      &.onmap {
        color: $main-bright-color;
        width: 50%;
      }

      &.favorite {
        width: 34%;
      }

      &.confirm {
        //float: right;
        //text-align: right;
        width: 10%;
      }
    }



  }

}

//block of cases in settings and etc
 .block {
    font-weight: 600;
    font-size: 16px;
    border-bottom: solid 1px #c7cace;

    .header {
      color: $main-bright-color;
      padding: 16px;
      margin: 0;
      border-bottom: solid 1px #e1e4e9;
      font-size: 17px;

      //&.header-line {
      //  background-image: url("./../res/head_line.png");
      //  background-repeat: no-repeat;
      //  background-position-y: -1px;
      //}
    }
    .list {
      background: #f7f7f9;
      padding: 0 30px;
      .label {
        display: block;
        margin: 0;
        line-height: 48px;

        .add {
          color: $main-bright-color;
          text-transform: uppercase;

          &:before {
            content: "+";
            display: inline-block;
            width: 16px;
            height: 16px;
            position: absolute;
            left: 0;
            top: 0;
            border: none;
            font-size: 27px;
            margin: 0;
          }
          .label {
            color: inherit;
            text-transform: inherit;
          }
        }

         label {
          width: 100%;
          display: inline-block;
          border-bottom: solid 1px #eef0f4;
          margin: 0;
          color: $main-dark-color;
          line-height: 48px;
        }
        .price {
          color: #b2b2b2;
          text-transform: uppercase;
          float: right;
          font-size: 13px;

          &.bright {
            color: $main-bright-color;
          }
        }
        .comment {
          float: right;
          color: #FF7431;
          text-transform: uppercase;
          font-size: 13px;
          width: 50%;
          text-align: right;
        }
      }
    }

   // radiobutton and checkbox  styles
 label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 30px;
	margin-right: 15px;
	font-size: 13px;
}

input[type=radio] {
	display: none;
}

label:before {
	content: "";
	display: inline-block;

	width: 16px;
	height: 16px;
	position: absolute;
	left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
	border: solid 2px #b9b9b9;
}

.radio label:before {
	border-radius: 50%;
}

input[type=radio]:checked + label:before {
    content: "\2022";
    color: $main-bright-color;
    font-size: 30px;
    text-align: center;
    line-height: 18px;
    border-color: $main-bright-color;
    padding: 1px 1px 0 0;
}

input[type=checkbox] {
	display: none;
}

.checkbox label:before {
	border-radius: 3px;
}

input[type=checkbox]:checked + label:before {
    background-color: $main-bright-color;
    background-image: url('./../res/check.svg');
    border-color: $main-bright-color;
    color: #fff;
	text-align: center;
    font-size: 22px;
    line-height: 20px;
}
  }

.modal {
  position: absolute;
  $header-height: 56px;

  .cross {
    height: 25px;
    width: 25px;
    background-image: url('./../res/cross_active.svg');
    display: inline-block;
    line-height: $header-height;
    vertical-align: middle;
  }
  .header {
    height: $header-height;
    line-height: $header-height;
    background: $main-dark-color;
    font-size: 18px;
    color: #fff;
    padding: 0 15px;

    .header-line {
        background-image: url("./../res/head_line.png");
        background-repeat: no-repeat;
        background-position-y: -1px;
    }

    .cross {
      margin-right: 15px;
    }
  }
}

i.more-btn {
  background-size: 150%;
  float: right;
  height: 50px;
  width: 12px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('./../res/more.png');
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto 5px;
}



i.star-fill, i.star-empty {
  height: 15px;
  width: 15px;
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
}

i.star-fill {
  background-size: 100%;
 background-image: url('./../res/star_fill.svg');
}

i.star-empty {
  background-size: 125%;
  background-image: url('./../res/star_empty.svg');
}

 span.options {
    background: #fff;
    color: #2C2C30;
    margin: 5px 15px;
    padding: 0 13px;
    -webkit-transition: all 1s ease-out 0.5s;
    transition: all 1s ease-out 0.5s;
    box-sizing: border-box;
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    text-align: left;
    border-radius: 5px;

   span {
     display: block;
     line-height: 48px;
   }
}

.pseubo-class-icon {
   content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  height: 25px;
  width: 25px;
  margin: auto;
}
//  span {
//    display: block;
//    //line-height: 40px;
//    //padding: 0 10px;
//
//    &:hover, &:active, &:focus  {
//     color: $main-bright-color;
//    }
//}




