.map-car-page {


  div.call {
    left: 8px;
    right: 8px;
    bottom: 0;
    margin: auto;
    position: absolute;
    line-height: 60px;
    text-align: center;
    color: #fff!important;
    text-transform: uppercase;
    background: url('./../res/btn_price_dark.png') center center no-repeat;
    background-size: 100% 100%;
    &:before {
      content: "";
      position: absolute;
      background-image: url('./../res/cross.svg');
      width: 24px;
      height: 24px;
      top: 15px;
      left: 20px;
    }
  }
}