.settings {
  background: #f7f7f9;

  &>* {
    // TODO change calculating
    height: calc(100% - 210rem);
    background: $main-header-background;
  }

  .block:last-child {
    border: none;
  }
}
