.settings {
  background: #f7f7f9;

  scroll-content{
    padding-top: 97px;
  }

  &>* {
    // TODO change calculating
    height: calc(100% - 50px);
    background: $main-header-background;
  }

  .block:last-child {
    border: none;
  }
}
