.settings {
  background: #f7f7f9;

  scroll-content{
    padding-top: 97px;
  }

  .address-panel {
    &:after {
      content: "";
      position: absolute;
      bottom: -7px;
      left: 0;
      height: 9px;
      right: 0;
      margin: auto;
      background: url("../res/logo_line.png") right bottom no-repeat;
    }
  }

  .block {
    .header {
      font-size: 17px;
    }

    label {
      font-size: 17px;

      &.add {
        text-transform: none!important;
      }
    }
  }

  &>* {
    // TODO change calculating
    height: calc(100% - 50px);
    background: $main-header-background;
  }

  .block:last-child {
    border: none;
  }
}
