<ion-content  class="has-footer has-header settings">

    <address></address>

    <div class="block">
        <p class="header line-header" (click)="func()">Тариф</p>
        <div class="list radio">
            <p *ngFor="let item of tariffs; let num = index" class="label">

                <input type="radio"
                       name="tariff"
                       (click)="changeTariff(item)"
                       [checked]="tariffInput===item"
                       id="{{getId('tariff', num)}}" />

                <label htmlFor="{{getId('tariff', num)}}">
                    {{item.name}}
                    <span class="price">{{item.price}}</span>
                </label>
            </p>
        </div>
    </div>

    <div class="block">
        <p class="header">Оплата</p>
        <div class="list checkbox">
             <p *ngFor="let item of payment; let num = index" class="label">

                 <input type="checkbox"
                        name="payment"
                       id="{{getId('payment', num)}}"
                       [checked]="paymentInput===item"
                       (change)="changePayment(item)"/>

                <label htmlFor="{{getId('payment', num)}}">
                    {{item}}
                </label>
            </p>
             <p class="label">
                <label class="add">
                    Добавить систему оплаты
            </label>
            </p>
        </div>
    </div>

     <div class="block">
        <p class="header">Дополнительные услуги</p>
          <div class="list checkbox">
             <p *ngFor="let item of service; let num = index" class="label">

                 <input type="checkbox"
                       name="service"
                       id="{{getId('service', num)}}"
                       [checked]="isCheckedService(item)"
                       (change)="changeService(item)"/>

                <label htmlFor="{{getId('service', num)}}">
                    {{item.name}}
                    <span class="comment">{{item.comment}}</span>
                </label>
            </p>
        </div>
    </div>

</ion-content>
<ion-footer-bar class="ion-footer-bar">
    <div class="call" (click)="showLoader()">
        <div class="price">
            <p class="text">232<span class="currency">руб.</span></p>
        </div>
        <p class="title">Вызвать такси</p>
    </div>
</ion-footer-bar>