<div class="driver-panel">
    <div class="top-panel">

        <div class="block-left">
            <img src="./build/res/avatar.png" alt="">
        </div>

        <div class="block-right">
            <span class="car-type">{{driver.carColor}}</span>
            <span class="stars">
                <i class="star-fill"></i>
                <i class="star-fill"></i>
                <i class="star-fill"></i>
                <i class="star-fill"></i>
                <i class="star-empty"></i>
            </span>
            <p class="car-name">{{driver.carBand}}</p>
            <p class="car-name">{{driver.carModel}}</p>
            <p class="car-number"> / {{driver.carNumber}}</p>
            <p class="car-status">{{status}}</p>
        </div>

    </div>
</div>