<div class="driver-panel">
    <div class="top-panel">

        <div class="block-left">
            <img src="./build/res/avatar.png" alt="">
        </div>

        <div class="block-right">
            <span class="car-type">серебристый металлик</span>
            <span class="stars">
                <i class="star-fill"></i>
                <i class="star-fill"></i>
                <i class="star-fill"></i>
                <i class="star-fill"></i>
                <i class="star-empty"></i>
            </span>
            <p class="car-name">Mersedez</p>
            <p class="car-status">Едет к вам</p>
        </div>

    </div>
</div>