.register-modal {
  background-image: url('./../res/background.png');
  z-index: 1;
  .modal-body {
    width: 95%;
    height: 90%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 5px;
    overflow: hidden;
    background-image: url('./../res/register_bottom_background.png');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-color: #fff;
    background-size: 100% 35%;

    -webkit-box-shadow: 0px 6px 16px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 6px 16px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 6px 16px -2px rgba(0, 0, 0, 0.75);

    .content {
      position: relative;
      height: 84%;


      div.wrap {
        margin: 0 52px;
      }
    }

    .modal-header {
      color: $main-bright-color;
      font-size: 18px;
      font-weight: 600;
      text-transform: uppercase;
      text-align: center;
      margin: 18px 0 38px 0;
    }

    .group {
      position: relative;

      &.name {
        margin-bottom: 30px;
      }

      &.number {
        width: 60%;
        float: right;
        margin-top: 15px;
      }

      /* LABEL ======================================= */
      label                {
        color: #565659;
        font-size: 16px;
        font-weight: 400;
        position:absolute;
        pointer-events:none;
        top:15px;
        left: 0;
        transition:0.2s ease all;
        -moz-transition:0.2s ease all;
        -webkit-transition:0.2s ease all;
        padding-left: 0;

        &:before {
          display: none;
        }
      }
      input {
        -webkit-appearance: none;
        -webkit-border-radius:0;
        border-radius:0;
      }

      /* active state */
      input:focus ~ label, input:valid ~ label        {
        top:-15px;
        font-size:12px;
        color:#565659;
      }

      .bar:before {
        left:50%;
      }
      .bar:after {
        right:50%;
      }

      /* active state */
      input:focus ~ .bar:before, input:focus ~ .bar:after {
        width:50%;
      }

      input:focus ~ i.cross {
        display: inline-block;
      }

      .cross {
        background-image: url("./../res/cross.svg");
        position: absolute;
        right: 0;
        bottom: 10px;
        width: 18px;
        height: 18px;
        background-size: 18px;
        display: none;
      }
    }


    label {
      color: $main-dark-color;
      font-size: 12px;
      font-weight: 400;
      display: inline-block;
      margin-bottom: 35px;
      position: relative;

      &.name {
        width: 100%;
      }
      &.code {
        width: 30%;
        float: left;
      }

      &.number {
        width: 60%;
        margin-left: 20px;
        position: relative;
        float: right;

        .cross {
          background-image: url("./../res/cross.svg");
          position: absolute;
          right: 0;
          top: 25px;
          width: 18px;
          height: 18px;
          background-size: 18px;
        }
      }

      &.sms {
        position: absolute;
        bottom: 90px;
        text-align: center;
        margin: auto;
        left: 52px;
        right: 52px;

        input {
          border-color: #d8dadc;
          text-align: center;
          font-weight: 100;

          ::-webkit-input-placeholder {
            color: $main-dark-color !important;
          }
          ::-moz-placeholder {
            color: $main-dark-color !important;
          }
          /* Firefox 19+ */
          :-moz-placeholder {
            color: $main-dark-color !important;
          }
          /* Firefox 18- */
          :-ms-input-placeholder {
            color: $main-dark-color !important;
          }
        }

      }
    }

    input, select {
      border-bottom: solid 1px $main-header-background;
      width: 100%;
      color: $main-dark-color;
      font-size: 18px;
      font-weight: 600;
      padding: 7px 0;
      background: transparent;
    }

     //TODO remove when select would be fixed

    .select-wrapper {

      div.input {
        border-bottom: solid 1px #e4e7ec;
        width: 100%;
        color: #565659;
        font-size: 18px;
        font-weight: 600;
        padding: 7px 0;
        background: transparent;
        position: relative;

        &:after {
          content: "";
          position: absolute;
          width: 11px;
          height: 6px;
          display: inline-block;
          background-image: url("./../res/arrow_drop_down.png");
          background-size: 100%;
          bottom: 15px;
          right: 5px;
        }
      }

      .panel {
        position: absolute;
        z-index: 2;
        background: #fff;
        left: 0;
        right: 0;
        max-height: 100px;
        overflow: scroll;

         span.option {
          display: block;
          text-align: center;
          line-height: 28px;
          font-size: 14px;
        }
      }


      //select {
      //  appearance: none;
      //  -moz-appearance: none; /* Firefox */
      //  -webkit-appearance: none; /* Safari and Chrome */
      //}
    }

    button {
      margin: 0;
    }

    button.sent {
      color: #f7f7f9;
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
      width: 84%;
      margin: auto;
      display: block;
      height: 40px;
      background: #a0bfa1;

      &.opacity {
        opacity: 0.5;
      }
      &.activated {
        background: #849C85;
      }

      &.code {
        background: #b3b3b3;
        &.activated {
          background: #b3b3b3;
        }
      }
    }

    button.skip {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 57px;
      left: 0;
      right: 0;
      color: #f7f7f9;
      font-size: 18px;
      font-weight: 600;
      background: #565659;
      text-transform: uppercase;
      &.activated {
        background: #39393C;
      }

      &.code {
        background: $main-bright-color;
        &.activated {
          background: $main-bright-color;
        }
      }

    }
  }

}