<ion-content class="modal register-modal">
   <div class="modal-body" (click)="closeKeyboard($event)">

        <p class="modal-header">
            Регистрация терминала
        </p>
        <div class="content">

            <div class="wrap">
                <div class="group name">
                    <input type="text" [(ngModel)]="name" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Введите ваше имя</label>
                </div>
                <label class="code">
                    Код страны

               <span class="select-wrapper">
                   <div class="input" (click)="showSelect(true)">{{code || "+ 7"}}</div>
                   <div class="panel" (click)="showSelect(false)" *ngIf="isShownInput">
                       <span class="option" (click)="setCode('+ 7')">+ 7</span>
                       <span class="option" (click)="setCode('+ 38')">+ 38</span>
                   </div>

                    <!--<select [(ngModel)]="code">-->
                      <!--<option [value]="+ 7">+ 7</option>-->
                      <!--<option [value]="+ 38">+ 38</option>-->
                    <!--</select>-->
               </span>
                </label>
                <div class="group number">
                    <input type="number" [(ngModel)]="number" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Номер телефона</label>
                    <i class="cross" (click)="clearNumber()"></i>
                </div>
            </div>

            <button class="sent" *ngIf="!timer" (click)="sentCode()" [ngClass]="{code: isCode}">{{isCode ? "Повторно выслать код" : "Выслать код"}}</button>
            <button class="sent opacity" *ngIf="timer">Повторить через 00:{{timeout}}</button>

            <label class="sms">
                <span *ngIf="isCode">Код из SMS</span>
                <input type="number" placeholder="Код из SMS" [(ngModel)]="key">
            </label>
        </div>

         <button class="skip" (click)="register()" [ngClass]="{code: isCode}">{{isCode ? "Зарегистрироваться" : "Пропустить регистрацию"}}</button>
   </div>
</ion-content>