<!--<ion-tabs swipeBackEnabled="false">-->
  <!--<ion-tab tabIcon="ios-search" [root]="search"></ion-tab>-->
  <!--<ion-tab tabIcon="ios-timer" [root]="time"></ion-tab>-->
  <!--<ion-tab tabIcon="ios-star-outline" [root]="feed"></ion-tab>-->
  <!--<ion-tab tabIcon="ios-plane" [root]="fly"></ion-tab>-->
<!--</ion-tabs>-->

 <div class="tab-header search">
    <div [ngClass]="setClasses('search')" (click)="changeTab('search')"></div>
    <div [ngClass]="setClasses('time')" (click)="changeTab('time')"><ion-icon md="ios-timer"></ion-icon></div>
    <div [ngClass]="setClasses('favorite')" (click)="changeTab('favorite')"><ion-icon md="ios-star-outline"></ion-icon></div>
    <div [ngClass]="setClasses('fly')" (click)="changeTab('fly')"><ion-icon md="ios-plane"></ion-icon></div>
 </div>
<div class="content">
    <search-tab-page *ngIf="activeTab === 'search'"></search-tab-page>
    <time-tab-page *ngIf="activeTab === 'time'"></time-tab-page>
    <feed-tab-page *ngIf="activeTab === 'favorite'"></feed-tab-page>
    <fly-tab-page *ngIf="activeTab === 'fly'"></fly-tab-page>
</div>
