<!--<ion-tabs swipeBackEnabled="false">-->
  <!--<ion-tab tabIcon="ios-search" [root]="search"></ion-tab>-->
  <!--<ion-tab tabIcon="ios-timer" [root]="time"></ion-tab>-->
  <!--<ion-tab tabIcon="ios-star-outline" [root]="feed"></ion-tab>-->
  <!--<ion-tab tabIcon="ios-plane" [root]="fly"></ion-tab>-->
<!--</ion-tabs>-->

 <div class="header">
   <div class="tab" (click)="changeTab('search')"><ion-icon md="ios-search"></ion-icon></div>
   <div class="tab" (click)="changeTab('time')"><ion-icon md="ios-timer"></ion-icon></div>
   <div class="tab" (click)="changeTab('favorite')"><ion-icon md="ios-star-outline"></ion-icon></div>
   <div class="tab" (click)="changeTab('fly')"><ion-icon md="ios-plane"></ion-icon></div>
 </div>
<div class="content">
    <search-tab-page *ngIf="acctiveTab === 'search'"></search-tab-page>
    <!--<TimeTabPage *ngIf="acctiveTab === 'time'"></TimeTabPage>-->
    <!--<FeedTabPage *ngIf="acctiveTab === 'favorite'"></FeedTabPage>-->
    <!--<FlyTabPage *ngIf="acctiveTab === 'fly'"></FlyTabPage>-->
</div>
