<ion-content class="modal loader-modal">
    <div class="loader-container">
        <p class="title">Идет поиск такси</p>
        <div class="loader first" id="first"></div>
        <div class="loader second" id="second"></div>
        <div class="loader third"></div>
        <div class="loader fourth"></div>
        <div class="loader fifth"></div>
        <div class="loader sixth"></div>
    </div>
</ion-content>
<ion-footer-bar class="ion-footer-bar loader-footer">
    <div class="call" (click)="calcelOrder()">
        Отменить поездку
    </div>
</ion-footer-bar>
