.platform-ios {
  .ion-title {
    padding: 0;
  }
}

.toolbar.show-navbar {
  min-height: 60px;
}

.toolbar-background {
  background: #2c2c30;
}

.toolbar-title {
  color: #e57339;
  font-weight: 100;
  text-align: center;
}

.ion-footer-bar {
  position: absolute;
  bottom: 0;
  z-index: 1;
  left: 0;
  right: 0;
  text-align: center;

  div.call {
    width: 90%;
    margin: auto;
    font-weight: 600;
    text-transform: uppercase;
    height: 55px;
    line-height: 9px;
    border-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: left;
    font-size: 20px;
    overflow: hidden;
    background: #e57339 url("../res/icon_arrow.png") no-repeat;
    background-position: right 10px center;
    background-size: 30px 30px;
    position: absolute;
    left:0;
    right: 0;
    bottom: 0;
    z-index: 2;

    p.title {
      display: inline-block;
      color: #fbfbfb;
      width: 69%;
      text-align: right;
      padding-right: 80px;
    }

    div.price {
      width: 30%;
      display: inline-block;
      height: 100%;
      padding-left: 45px;
      background: #e7804d url('../res/icon_coins.png') 15px center no-repeat;
      background-size: 23px 18px;

      span.currency {
        vertical-align: super;
        text-transform: capitalize;
        font-size: 13px;
        margin-left: 3px;
      }
    }

  }

  div.search {
    color: #b2b2b2;
    background: rgba(0, 0, 0, 0.9);
    font-size: 19px;
    line-height: 24px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

.home {

  // TODO delete this sh*t
  scroll-content {
    overflow-y: hidden;
  }

  .address-panel {
    height: 90px;
    background: #323238;
    position: fixed;
    top: 55px;
    width: 100%;

    div {
      padding-left: 9.6%;
      height: 50%;
      position: relative;
      color: #fff;

      &.from {

        &.active {
          color: #e57339;

          input::-webkit-input-placeholder {color:#e57339;}
          input::-moz-placeholder          {color:#e57339;}/* Firefox 19+ */
          input:-moz-placeholder           {color:#e57339;}/* Firefox 18- */
          input:-ms-input-placeholder      {color:#e57339;}
        }

        span {
          background: url('../res/icon_path_active.png') no-repeat;
          background-size: 100% 100%;
          vertical-align: middle;
          width: 16px;
          height: 21px;
          position: relative;

          &:before {
            content: "";
            display: block;
            position: absolute;
            height: 23px;
            bottom: -26px;
            width: 1px;
            left: 0;
            right: 0;
            margin: auto;
            border-right: 2px dashed #a8bea1;
          }

        }

        input {
          border-bottom:2px solid #454549;
        }
      }

      &.to {

        &.active {
          color: #e57339;

          input::-webkit-input-placeholder {color:#e57339;}
          input::-moz-placeholder          {color:#e57339;}/* Firefox 19+ */
          input:-moz-placeholder           {color:#e57339;}/* Firefox 18- */
          input:-ms-input-placeholder      {color:#e57339;}
        }

        span {
          background: url("../res/icon_pathto_inactive.png") no-repeat;
          background-size: 100% 100%;
          vertical-align: middle;
        }
      }

      span {
        width: 16px;
        height: 16px;
        display: inline-block;
      }

      input {
        background: #323238;
        border: none;
        outline: none;
        font-size: 21px;
        height: 100%;
        margin-left: 10px;
        width: 87%;

        &::-webkit-input-placeholder {color:#fff;}
        &::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
        &:-moz-placeholder           {color:#fff;}/* Firefox 18- */
        &:-ms-input-placeholder      {color:#fff;}
      }
    }
  }

  span.marker {

    &.from {
      background: url("../res/icon_path_active.png") no-repeat;
      width: 26px;
      height: 36px;
      background-size: 100% 100%;
    }

    position: absolute;
    display: inline-block;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 20px;
    height: 20px;
    background: url("../res/point.png") no-repeat;
    background-size: 100% 100%;
  }
}

#mapid {
  height: 100%;

  .nav-panel {
    bottom: 53px;

    .locate-button {
      width: 55px;
      height: 55px;
      background: url('../res/btn_locate.png') no-repeat;
      background-size: 100% 100%;
      bottom: 60px;
    }
    .calcpath-button {
      width: 55px;
      height: 55px;
      background: url('../res/btn_calcpath.png') no-repeat;
      background-size: 100% 100%;
      bottom: 60px;
    }
  }
}
