<ion-content class="modal rides-modal" (click)="showOptions('-1', $event)">
    <p class="modal-header">
        <span class="cross" nav-pop></span>
        {{tabDats[tab]}}
    </p>

    <div [ngClass]="{'active': tab === 'future'}" class="sub-tab future-rides" (click)="tabClick('future')"></div>
    <div [ngClass]="{'active': tab === 'last'}" class="sub-tab last-rides" (click)="tabClick('last')"></div>

    <div>
        <div class="block">
            <p class="header line-header">Мои поездки</p>
        </div>

        <div class="block" *ngFor="let item of getArrayOfRides(); let num = index">
            <div class="content">
                <p class="panel panel-title">
                    <i class="past-ride-icon" (click)="setLastOrderOptions(item)"></i>
                   <span>{{item.bookingDate}}</span>
                    <i class="more-btn" (click)="showOptions(num, $event)"></i>
                </p>
                <p class="panel">
                     <span class="options" *ngIf="num === optionDetails">
                         <span (click)="setTrip(num)">Повторить</span>
                         <span>Скрыть</span>
                         <span (click)="delete(num, $event)">Удалить</span>
                         <span (click)="toFavorites(item, $event)">В избранные</span>
                    </span>
                    <span class="route"></span>
                    <span class="panel">{{item.source.shortAddress}}</span>
                    <span class="panel">{{item.destinations[0].shortAddress ? item.destinations[0].shortAddress : '...'}}</span>
                </p>
                <p></p>
                <p></p>
            </div>

        </div>

        <!-- <div class="block plane">     ///Template for plane
            <div class="content">
                <p class="panel panel-title">
                   <span>number</span>
                    <span class="comment">Comment</span>
                </p>
                <p class="panel">
                    <span class="route"></span>
                    <span class="panel">
                        <span>Route from</span>
                        <span>Region</span>
                        <i class="time">time</i>
                    </span>
                    <span class="panel">
                        <span>Route to</span>
                        <span>Region</span>
                        <i class="time">time</i>
                    </span>
                </p>
                <p></p>
                <p></p>
            </div>
        </div>-->
    </div>

</ion-content>