<div class="time-tab-page">

    <div class="header">
        <p class="title">В виде списка</p>

        <input
                (change)="toggleView()"
                type="checkbox"
                id="unchecked"
                class="cbx hidden"
        />
        <label for="unchecked" class="lbl"></label>

    </div>

    <div class="content list">
        <div class="sub-header">{{header}}</div>

        <div class="items addresses" *ngIf="!address" >

            <div class="address-block" *ngFor="let char of alphabet" >
                <span class="char">{{char}}</span>
                <div class="address-item" *ngFor="let item of addresses[char]; let i=index" (click)="setAddress(i, char)">
                    <span class="address">{{item.data.street}}</span>
                </div>
            </div>
        </div>

        <div class="items trips" *ngIf="address" >
            <div class="block"
                 *ngFor="let item of trips;let i=index"
                 >
                <div class="content">
                    <p class="panel panel-title">
                        <span>{{item.bookingDate}}</span>
                    </p>
                    <p class="panel">
                        <span class="route"></span>
                        <span class="panel">{{item.source.shortAddress}}</span>
                        <span class="panel">{{item.destinations[0].shortAddress ? item.destinations[0].shortAddress : '...' }}</span>
                    </p>
                    <p></p>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>
