<div class="address-panel">
    <div class="main"
        [ngClass]="setClasses('from')"
        (dblclick)="enableEditable('from')"
        (click)="onFocus('from')"
    >
        <span class="icon"></span>
        <input
            [disabled]="editable.from"
            (keyup)="getAll(address.from)"
            type="text"
            [(ngModel)]="address.from"
            placeholder="Откуда ..."
        >
        <span
            class="clear"
            *ngIf="direction === 'from'"
            (click)="clearAddress()"></span
        >
    </div>
    <div class="main"
        [ngClass]="setClasses('to')"
        (dblclick)="enableEditable('to')"
        (click)="onFocus('to')"
    >
        <span class="icon"></span>
        <input
            [disabled]="editable.to"
            (keyup)="getAll(address.to)"
            type="text"
            [(ngModel)]="address.to"
            placeholder="Куда ?"
        >
        <span
            class="clear"
            *ngIf="direction === 'to'"
            (click)="clearAddress()"
        ></span>
    </div>
    <div [ngClass]="setViewClasses()" *ngIf="search">
        <div
            class="search-item"
            *ngFor="let item of addresses; let i=index"
            (click)="confirmAddress(i)"
        >
            <p>{{item.street}}</p><span>{{item.city}}</span>
        </div>
    </div>
    <div class="addressDetail" *ngIf="detail">
        <div class="top">
            <div class="group house">
                <input type="text" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>номер дома</label>
            </div>
            <div class="group block">
                <input type="text" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>подъезд</label>
            </div>
        </div>
        <div class="bottom">
            <div class="group comment">
                <input type="text" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Примечание</label>
            </div>
            <div class="group nav">
                <div class="btn favorite">В ИЗБРАННОЕ</div>
                <div class="btn confirm" routerLink="/">ОК</div>
            </div>
        </div>
    </div>
</div>