<div class="address-panel">
    <div class="main"
        [ngClass]="setClasses('from')"
        (click)="onFocus('from', from)"
    >
        <span [ngClass]="setClassesIcon('from')"></span>
        <input
            #from
            [ngClass]="setInputClasses()"
            [disabled]="disabled.from"
            (keyup)="getAll(from)"
            type="text"
            [(ngModel)]="detail ? detailCopy.from.street: detailCopy.from.shortAddress"
            placeholder="Откуда ..."
        >
        <span
                class="clear"
                *ngIf="direction === 'from' && !disabled.from"
                (click)="clearAddress('from')"
        ></span>
    </div>
    <div class="main"
        [ngClass]="setClasses('to')"
        (click)="onFocus('to', to)"
    >
        <span [ngClass]="setClassesIcon('to')"></span>
        <input
            #to
            [ngClass]="setInputClasses()"
            [disabled]="disabled.to"
            (keyup)="getAll(to)"
            type="text"
            [(ngModel)]="detail ? detailCopy.to.street: detailCopy.to.shortAddress"
            placeholder="Куда ?"
        >
        <span
            class="clear"
            *ngIf="direction === 'to' && !disabled.to"
            (click)="clearAddress('to')"
        ></span>
    </div>


    <div [ngClass]="setViewClasses()" *ngIf="search">
        <div
            class="search-item"
            *ngFor="let item of addresses; let i=index"
            (click)="confirmAddress(i)"
        >
            <span *ngFor="let text of item.format" [ngClass]="{orange: text.className ==='orange'}">{{text.text}}</span><p>{{item.city}}</p>
        </div>
    </div>


    <div [ngClass]="setDetailClasses()" *ngIf="detail && !search">
        <div class="top">
            <div class="group house">
                <input type="text" [(ngModel)]="detailAddress[direction].house" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>номер дома</label>
            </div>
            <div class="group block">
                <input type="text" [(ngModel)]="detailAddress[direction].housing" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>подъезд</label>
            </div>
        </div>
        <div class="bottom">
            <div class="group comment">
                <input type="text" [(ngModel)]="detailAddress[direction].description" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Примечание</label>
            </div>
            <div class="group nav">
                <div class="btn onmap" (click)="showMap()">УКАЗАТЬ НА КАРТЕ</div>
                <div class="btn favorite" (click)="showFavoritePopup()">В ИЗБРАННОЕ</div>
                <div class="btn confirm" (click)="onConfirm(direction)">ОК</div>
            </div>
        </div>
    </div>
</div>